<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <form method="post" action="/users/login">
            <fieldset class="form-group">
                <label for="email1">Email address</label>
                <input type="email" class="form-control" id="email1" name="email" placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" name="password" placeholder="Password">
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </body>
</html>
